@mixin main-slider-bullets() {
  @include list-inline(32px !important);
  bottom: 105px !important;
  @include max-width($mobile-width){
    bottom: 20vh!important;
  }
  > * {
    @include inline-block();
    width: 15px;
    height: 15px;
    background: #fff;
    @include border-radius(50%);
    opacity: 1;
    position: relative;
    &:after {
      content: "";
      width: 0;
      height: 0;
      @include inline-block();
      @include border-radius(50%);
      border: 1px solid #E0C300;
      position: absolute;
      top: 50%;
      left: 50%;
      @include box-sizing(border-box);
      z-index: -1;
      opacity: 0;
      @include transition(all .3s ease);
    }
    &[class*="active"] {
      &:after {
        @include transition(all .3s ease);
        width: 25px;
        height: 25px;
        top: -5px;
        left: -5px;
        opacity: 1;
      }
    }
  }
}