$icons: (
        book: "\e91f",
        calendar: "\e953",
        user: "\e971",
        stats-dots: "\e99b",
        leaf: "\e9a4",
        truck: "\e9b0",
        power: "\e9b5",
        flag: "\e9cc",
        spell-check: "\ea12",
        clear-formatting: "\ea6f",
        table2: "\ea71"
);
