$simple-form-heading: (
        style: (
                base: (
                        font-size: 36px,
                        color: #fff,
                        font-weight: $font-light,
                        margin-bottom: 9px
                )
        )
)