$primary-color: #144852;

$menu-item-color: #98afb3;
$menu-item-selected-color: #345f69;

$primary-heading-color: #333;
$label-color: #353535;

$main-content-border-color: #a3bfc4;
$main-content-background-color: #fff;
$secondary-border-color: #d5e2e4;
$input-border-color: #88adb2;

$body-bg-color: #f9fbfb;
$secondary-background-color: darken($body-bg-color, 1%);

$left-pane-bg-color: #eff4f5;
$left-pane-icon-color: #144852;
$left-pane-title-color: #405e64;

$left-pane-active-color: #017c91;
$left-pane-active-icon-color: #c4e0e5;
$left-pane-active-heading-color: #fff;
$left-pane-active-title-color: #cce4e9;

$pills-border-color: #c1d4d7;
$pills-background-color: #eff4f5;
$pills-text-color: #405e64;

$default-button-text-color: #202627;
$default-button-border-color: #a5c0c5;

$primary-button-background-color: #018aa2;

$message-color: #405e64;
$error-color: #a72a2a;
$success-color: #26CCDB;

$revert-bg-color: #58595B;
